<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtp7.demo.mapper.OrderInformationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jtp7.demo.entity.OrderInformation">
        <id column="order_id" property="orderId" />
        <result column="address" property="address" />
        <result column="gap" property="gap" />
        <result column="date" property="date" />
        <result column="time" property="time" />
        <result column="driver" property="driver" />
        <result column="truck" property="truck" />
        <result column="is_compensate" property="isCompensate" />
        <result column="compensate" property="compensate" />
        <result column="total" property="total" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_id, address, 
gap, date, time, driver, truck, is_compensate, compensate, total
    </sql>

    <select id="getOrderByLike" parameterType="com.jtp7.demo.entity.OrderInformation" resultType="com.jtp7.demo.entity.OrderInformation">
        SELECT * FROM order_information WHERE 1 = 1
        <if test="orderId != null">
            AND order_id like concat('%',#{orderId},'%')
        </if>
        <if test="address != null">
            AND address like concat('%',#{address},'%')
        </if>
        <if test="gap != null">
            AND gap like concat('%',#{gap},'%')
        </if>
        <if test="date != null">
            AND date like concat('%',#{date},'%')
        </if>
        <if test="time != null">
            AND time like concat('%',#{time},'%')
        </if>
        <if test="driver != null">
            AND driver like concat('%',#{driver},'%')
        </if>
        <if test="truck != null">
            AND truck like concat('%',#{truck},'%')
        </if>
        <if test="compensate != null">
            AND compensate like concat('%',#{compensate},'%')
        </if>
        <if test="total != null">
            AND total like concat('%',#{total},'%')
        </if>
    </select>
</mapper>
