<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtp7.demo.mapper.ReimbursementInfoMapper">

    <select id="getReimbursementInfoByLike" parameterType="ReimbursementInfo" resultType="ReimbursementInfo">
        SELECT * FROM reimbursementinfo WHERE 1 = 1
        <if test="id != null">
            AND id like #{id}
        </if>
        <if test="driving_code != null">
            AND driving_code like #{driving_code}
        </if>
        <if test="applicant != null">
            AND applicant like #{applicant}
        </if>
        <if test="type != null">
            AND type like #{type}
        </if>
        <if test="money != null">
            AND money like #{money}
        </if>
        <if test="month != null">
            AND month like #{month}
        </if>
        <if test="applicationTime != null">
            AND applicationTime like #{applicationTime}
        </if>
        <if test="state != null">
            AND state like #{state}
        </if>
    </select>

    <update id="reimbursementApproval" parameterType="ReimbursementApprovalInfo">
        UPDATE reimbursementinfo SET state = #{state} WHERE id = #{id}
    </update>

</mapper>
